{% load staticfiles %}

<nav class="navbar navbar-expand-lg menu p-3">
  <ul class="nav navbar-nav mx-auto">
    <li>
      <a href="{% url 'main:index' %}"
         class="nav-link rounded font-weight-bold text-center mx-2 menu__item">
        На главную
      </a>
    </li>
    <li>
      <a href="{% url 'admin:users' %}"
         class="nav-link rounded font-weight-bold text-center mx-2 menu__item">
        Пользователи
      </a>
    </li>
    <li>
      <a href="{% url 'admin:projects' %}">
        Проекты
      </a>
    </li>
  </ul>
</nav>
