<nav class="col-md-3 d-md-block sidebar gp-sidebar">
  <div class="gp-sidebar__heading">
    <a href="{% url 'main:index' %}">
      LOGO
    </a>
  </div>
  <div class="flex-column">
    <hr>
    <ul class="nav flex-column gp-sidebar__menu">
      <h5 class="gp-sidebar-menu__heading text-uppercase">
        <i class="fa fa-database" aria-hidden="true"></i>
        Database
      </h5>
      <li class="nav-item">
        <a href="{% url 'admin:users' %}" class="nav-link rounded h5 font-weight-bold gp-sidebar-menu__item">
          Users
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'admin:projects' %}" class="nav-link rounded h5 font-weight-bold gp-sidebar-menu__item">
          Projects
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'admin:categories' %}" class="nav-link rounded h5 font-weight-bold gp-sidebar-menu__item">
          Categories
        </a>
      </li>
    </ul>
    <hr>
    <ul class="nav flex-column gp-sidebar-menu">
      <h5 class="gp-sidebar-menu__heading text-uppercase">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        Server management
      </h5>
      <li class="nav-item">
        <a href="#" class="nav-link rounded h5 font-weight-bold gp-sidebar-menu__item">
          Metrics
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link rounded h5 font-weight-bold gp-sidebar-menu__item">
          Email
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link h5 font-weight-bold gp-sidebar-menu__item">
          Configuration
        </a>
      </li>
    </ul>
    <hr>
  </div>
</nav>

