<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
      GeekPlanner | {{ title }}
    {% endblock %}
  </title>
  {% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/style.css' %}">
  {% endblock %}
</head>
<body>
  <div class="layout-wrapper">
    {% include 'mainapp/includes/inc_header.html' %}
    <main role="main">
      {% block content %}
      {% endblock %}
    </main>
  </div>
  {% include 'mainapp/includes/inc_footer.html' %}
</body>
</html>