{% extends 'plannerapp/base.html' %}

{% block content %}
  <div class="container">
    <div class="gp-board my-2">
      <div class="gp-board__heading text-center pt-2">
        <h3 class="font-weight-bold">
          {{ object.title }}
        </h3>
        <hr>
        <div class="d-flex px-2 py-2">
          <a class="btn btn-primary" href="{% url 'planner:create_card' object.pk %}" type="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="container">
        <div class="card-deck mx-auto my-2">
          {% for card in card_list %}
            <div class="card shadow-sm {{ card.color }}">
              <div class="card-header font-weight-normal">
                {{ card.title }}
              </div>
              <div class="card-body">
                {{ card.description }}
              </div>
              <a class="stretched-link" href="#"></a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}