{% extends 'authapp/base.html' %}

{% block content %}
  <div class="container justify-content-center">
    <div class="my-4 jumbotron">
      <h1 class="text-uppercase">
        Activation error
      </h1>
      <p class="lead">
        {{ activation_error }}
      </p>
      <p class="lead">
        Follow the instruction in the message we sent to your Email!
      </p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary" href="{% url 'mainapp:index' %}">
          OK
        </a>
      </p>
    </div>
  </div>
{% endblock %}