{% extends 'authapp/base.html' %}

{% block content %}
  <div class="container justify-content-center">
    <div class="my-4 jumbotron">
      <h1 class="text-uppercase">
        Ошибка активации
      </h1>
      <p class="lead">
        {{ activation_error }}
      </p>
      <p class="lead">
        Следуйте инструкции, которая лежит в Вашем почтовом ящике.
        Также вы можете обратиться за помощью к службе поддержки GeekPlanner.
      </p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary" href="{% url 'mainapp:index' %}">
          OK
        </a>
      </p>
    </div>
  </div>
{% endblock %}