{% extends 'authapp/base.html' %}

{% block content %}
  <div class="container justify-content-center">
    <div class="my-4 jumbotron">
      <h1 class="text-uppercase">
        Activation success
      </h1>
      <p class="lead">
        Now you can create your first project by going to the "Projects" section.
      </p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary" href="{% url 'mainapp:index' %}">
          OK
        </a>
      </p>
    </div>
  </div>
{% endblock %}