{% extends 'authapp/base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="card my-4 gp-form">
        <div class="card-header text-center text-uppercase font-weight-bold">
          Registration
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data" id="register-form">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group">
                <label class="control-label small">
                  {{ field.label }}
                </label>
                {{ field }}
                <div class="gp-form__errors mt-2">
                  {% for error in field.errors %}
                    <div class="gp-form__error">
                      {{ error|escape }}
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
            <input class="btn btn-primary col-12" form="register-form" type="submit" value="Register">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}