.gp-projects {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;

  @at-root #{&}__left-sidebar {
    min-width: 224px;
    border-right: 1px solid lightgray;
  }

  @at-root #{&}__main-menu {
    min-height: 64px;
    border-bottom: 1px solid lightgray;
  }

  @at-root #{&}__main-content {
    min-height: 512px;
  }

  @at-root #{&}__main-item {
    min-height: 128px;
    border: 1px solid lightgray;
    background-color: #ffffff;
  }

  @at-root #{&}__main-thumbnail {
    border-right: 1px solid lightgray;
  }

  @at-root #{&}__main-img {
    width: 160px;
    height: 160px;
  }

  @at-root #{&}__main-owner {
    font-size: 0.85rem;
    margin: 8px;
  }

  @at-root #{&}__main-summary {
    width: 100%;
    margin: 8px 16px;
  }

  @at-root #{&}__main-description {
    min-height: 104px;
  }
}
