.menu {
  background-color: #3b4b8e;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 1.2rem;

  @at-root #{&}__item {
    color: #fff;
    min-width: 128px;
    &:hover {
      background-color: #4485d0;
      color: #ffffff;
    }
  }
  @at-root #{&}__item--active {
    background-color: #4368b2;
  }
}