{% extends 'adminapp/base.html' %}

{% block content %}
  <div class="container">
    <div class="row py-4">
      <div class="col">
        {% for category in object_list %}
          <div class="card mb-2">
            <div class="card-body">
              {{ category.name }}
            </div>
            <div class="card-footer d-flex justify-content-around">
              {% if user.is_active %}
                <a href="{% url 'admin:delete_category' category.pk %}" class="btn btn-primary btn-fa">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
                <a href="{% url 'admin:update_category' category.pk %}" class="btn btn-primary btn-fa">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              {% else %}
                <a href="#" class="btn btn-primary btn-fa">
                  <i class="fa fa-undo" aria-hidden="true"></i>
                </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}