* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Source Sans Pro",Helvetica,sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.layout-wrapper {
  flex: 1;
}

footer {
  background-color: #f8f9fa;

  h5 {
    color: #495057;
  }
}

@import "blocks/masthead";
@import "blocks/menu";
@import "blocks/button";
@import "blocks/form";
@import "blocks/project";
@import "blocks/hr";
@import "blocks/board";
@import "blocks/card";
