{% load staticfiles %}

<nav class="navbar navbar-expand-lg menu p-3">
  <a class="navbar-brand" href="{% url 'main:index' %}">
    GEEKPLANNER
  </a>
  <ul class="nav navbar-nav mx-auto">
    <li>
      <a href="{% url 'main:index' %}"
         class="nav-link rounded font-weight-bold text-center mx-2 menu__item
          {% if request.resolver_match.url_name == 'index' %}menu__item--active{% endif %}">
        Главная
      </a>
    </li>
    <li>
      <a class="nav-link rounded font-weight-bold text-center mx-2 menu__item" href="#">
        Расценки
      </a>
    </li>
    <li>
      <a class="nav-link rounded font-weight-bold text-center mx-2 menu__item" href="#">
        Опции
      </a>
    </li>
    {% if user.is_authenticated %}
      <li>
        <a href="{% url 'planner:projects' %}"
           class="nav-link rounded font-weight-bold text-center mx-2 menu__item
            {% if request.resolver_match.url_name == 'projects' %}menu__item--active{% endif %}">
          Проекты
        </a>
      </li>
      {% if user.is_superuser %}
        <a href="{% url 'admin:users' %}"
           class="nav-link rounded font-weight-bold text-center mx-2 menu__item">
          Админка
        </a>
      {% endif %}
    {% endif %}
  </ul>
  {% if user.is_authenticated %}
    <div class="btn-group" role="group">
      <a class="btn btn-outline-primary font-weight-bold btn-register" href="{% url 'auth:logout' %}">
        Выход
      </a>
      <a class="btn btn-outline-primary font-weight-bold btn-register" href="{% url 'auth:edit' %}">
        Профиль
      </a>
    </div>
  {% else %}
    <div class="btn-group" role="group">
      <a class="btn btn-outline-primary font-weight-bold btn-register" href="{% url 'auth:login' %}">
        Вход
      </a>
      <a class="btn btn-outline-primary font-weight-bold btn-register" href="{% url 'auth:django_registration_register' %}">
        Регистрация
      </a>
    </div>
  {% endif %}
</nav>