<footer class="footer font-small mt-auto">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
          Learn more
        </h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">
              Tour
            </a>
          </li>
          <li>
            <a href="#">
              Project demo
            </a>
          </li>
          <li>
            <a href="#">
              New features
            </a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
          Support
        </h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">
              Terms
            </a>
          </li>
          <li>
            <a href="#">
              Privacy & Security
            </a>
          </li>
          <li>
            <a href="#">
              Status
            </a>
          </li>
          <li>
            <a href="#">
              Help
            </a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
          About
        </h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">
              About GeekPlanner
            </a>
          </li>
          <li>
            <a href="#">
              GitHub
            </a>
          </li>
          <li>
            <a href="#">
              Twitter
            </a>
          </li>
          <li>
            <a href="#">
              Blog
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright:<a href="#"> geekplanner.com</a>
  </div>
</footer>