{% load staticfiles %}


<footer class="footer font-small mt-auto">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Подробнее</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Тур</a>
          </li>
          <li>
            <a href="#">Демо проекта</a>
          </li>
          <li>
            <a href="#">Новые возможности</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Поддержка</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Наши контакты</a>
          </li>
          <li>
            <a href="#">Юридическая информация</a>
          </li>
          <li>
            <a href="#">Настройки Cookie</a>
          </li>
          <li>
            <a href="#">Конфиденциальность</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">О нас</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Компания</a>
          </li>
          <li>
            <a href="#">Почему GeekPlanner?</a>
          </li>
          <li>
            <a href="#">Блог</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright:<a href="#"> geekplanner.com</a>
  </div>
</footer>