.gp-form {
  min-width: 400px;
  .card-header {
    background-color: #3b4a8e;
    color: #ffffff;
  }

  .form-group {
    label {
      display: flex;
    }
    .hint {
      display: flex;
      font-size: 0.75rem;
    }
  }
}